#
# Title:        00-Makefile.cfg
# Project:	Mdb-2
# Desc:
# 
#   
# 
# Notes:
# 
# Author:	Paul Houghton - (paul.houghton@wcom.com)
# Created:	10/30/99 06:48
#
# Revision History: (See end of file for Revision Log)
#
#   Last Mod By:    $Author$
#   Last Mod:	    $Date$
#   Version:	    $Revision$
#
#   $Id$
# 


DOC_DIR		= $(PRJ_TOPDIR)/docs
TEST_DIR	= $(PRJ_TOPDIR)/test

include $(PRJ_TOPDIR)/src/config/Setup.cfg

PROJECT_INC_DIRS	= -I$(INSTALL_INC_DIR)
PROJECT_LIB_DIRS	= -L$(INSTALL_LIB_DIR)

LIB_STLUTLS	= libStlUtils-5

exports		=				\
	INSTALL_INC_DIR=$(INSTALL_INC_DIR)	\
	INSTALL_LIB_DIR=$(INSTALL_LIB_DIR)	\
	INSTALL_MAN_DIR=$(INSTALL_MAN_DIR)	\
	show_commands=$(show_commands)		\
	check_install=$(check_install)




#
# $Log$
# Revision 1.4  2000/05/30 13:02:44  houghton
# Added LIB_STLUTILS variable.
#
# Revision 1.3  1999/11/10 12:46:59  houghton
# Added PROJECT_INC_DIRS.
# Added PROJECT_LIB_DIRS.
#
# Revision 1.2  1999/11/09 10:54:10  houghton
# Changed to use Setup.cfg.
#
# Revision 1.1  1999/10/30 11:51:10  houghton
# Initial Version.
#
#

# Local Variables:
# mode:makefile
# End:
